{
    "cellsize" : 8.755168963737264e-07,
    "npixels" : 1024,
    "weighting" : "uniform",
    "robustness" : 0,

    "datasets" : ["../../data/galfield/galfield0.ms", "../../data/galfield/galfield1.ms", "../../data/galfield/galfield2.ms", "../../data/galfield/galfield3.ms", "../../data/galfield/galfield4.ms"],
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptor_start" : 0,
    "data_descriptor_end" : 0,

    "nmajcycl1" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "init_lambda_full" : 0.01,
    "lambda_growth_steepness" : 5,
    "visvar_window" : 5,

    "max_sources" : 5000,
    "source_threshold" : 5,

    "output_dir" : "results",
    "gt_sources_fname" : "../../data/galfield/sources.csv",
    "match_threshold" : 2
}
