{
    "cellsize" : 8.755168963737264e-07,
    "npixels" : 512,
    "weighting" : "uniform",
    "robustness" : 0,

    "datasets" : ["~/radio-imaging/data8/jackknife_test/jackknife_test0.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test1.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test2.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test3.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test4.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test5.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test6.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test7.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test8.ms", "~/radio-imaging/data8/jackknife_test/jackknife_test9.ms"],
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptor_start" : 0,
    "data_descriptor_end" : 0,

    "nmajcycl1" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "init_lambda_full" : 0.1,
    "lambda_growth_steepness" : 5,

    "num_jackknifes" : 10,

    "output_dir" : "results"
}
