{
    "cellsize" : 8.755168963737264e-07,
    "npixels" : 512,
    "weighting" : "uniform",
    "robustness" : 0,

    "datasets" : ["~/radio-imaging/data8/MID/10/SGRA_full_averaged0.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged1.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged2.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged3.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged4.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged5.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged6.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged7.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged8.ms", "~/radio-imaging/data8/MID/10/SGRA_full_averaged9.ms"],
    "full-dataset" : "~/radio-imaging/data8/MID/SGRA_full_averaged.ms",
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptor_start" : 0,
    "data_descriptor_end" : 0,
    "ells" : [14.67, 30.56, 44.97, 56.71, 69.65, 83.55, 101.03, 119.41, 131.68],
    "delta" : 1,

    "nmajcycl1" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "init_lambda_full" : 0.01,
    "init_lambdas" : [0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01],
    "lambda_growth_steepness" : 10,
    "deconv_partitions" : [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],

    "nmajcycmsc" : 5,
    "msclean_iter" : 2000,
    "first_mc_clean_scales" : [
        [20, 40, 80],
        [10, 20],
        [5, 10, 20],
        [2, 5, 10],
        [2, 5, 10],
        [2, 5, 10],
        [0, 1, 2, 4],
        [0, 1, 2, 4],
        [0, 1, 2, 4],
        [0, 1, 2]
        ],
    "fullres_clean_scales" : [0, 1, 2, 4, 6, 10, 30],
    "clean_thresh" : 1e-4,
    "clean_fracthresh" : 1e-3,
    "clean_gain" : 0.1,
    "bda" : 1,

    "max_sources" : 1000,
    "source_threshold" : 1.5,

    "output_dir" : "results/pditest"
}
