{
    "cellsize" : 8.755168963737264e-07,
    "npixels" : 1024,
    "weighting" : "uniform",
    "robustness" : 0,

    "datasets" : ["../../data/sep_test/sep_test0.ms", "../../data/sep_test/sep_test1.ms", "../../data/sep_test/sep_test2.ms", "../../data/sep_test/sep_test3.ms", "../../data/sep_test/sep_test4.ms"],
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptor_start" : 0,
    "data_descriptor_end" : 0,

    "nmajcycl1" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "init_lambda_full" : 0.01,
    "lambda_growth_steepness" : 5,
    "visvar_window" : 5,

    "max_sources" : 5000,
    "source_threshold" : 2.5,

    "output_dir" : "results"
}
